a {
  text-decoration: none;
}

a:visited, a:link {
  color: black;
}

body {
  margin: 0;
}

button {
  cursor: pointer;
}

/* HELPERS */

.app-main {
  height: 90vh;
}

.clean-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* LINKS */

.router-link-exact-active {
  color: #fff;
}

/* HEADER */

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #554245;
  color: #F5EDF0;
}

.header-nav {
  position: absolute;
  right: 30px;
  font-size: 1.4rem;
}

/* BOOK FILTER */

.book-filter {
  background-color: #554245;
  display: flex;
  justify-content: center;
}

/* HOME PAGE */

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: fantasy;
  background-color: lightgrey;
  font-size: 2rem;
}

.home-page a {
  color: #fff;
}

.home-page a:visited {
  color: #fff;
}

.home-page img {
  max-width: 350px;
}

/* ABOUT */

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #554245;
}

.about img {
  max-width: 700px;
}

/* BOOK LIST */

.book-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #554245;
}

/* BOOK PREVIEW */

.book-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #F5EDF0;
  font-family: Arial, Helvetica, sans-serif;
}

.book-preview .book-title {
  font-weight: bolder;
}

.book-preview a {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
}

/* BOOK DETAILS */

.book-details {
  display: flex;
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #554245;
  color: #F5EDF0;
}

.book-details img {
  max-width: 250px;
}

.book-details-info {
  display: flex;
  margin-inline-start: 20px;
  flex-direction: column;
  line-height: 1;
}

.book-details a {
  align-self: center;
  color: #F5EDF0;
  padding: 10px;
  border: 1px solid #F5EDF0;
}

.book-details-nav {
  display: flex;
  justify-content: center;
  gap: 10px;
  ;
}

.bold {
  font-weight: bolder;
}

.book-details-title {
  font-style: italic;
}

/* REVIEW ADD */

.review-add {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  padding: 5px;
}

.review-add-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* REVIEW PREVIEW */

.review-preview {
  border: 1px solid black;
}

/* BOOK ADD */

.google-book-add {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/* GOOGLE BOOK PREVIEW */

.google-book-preview-li {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
}

.google-book-preview-ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}